<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title >{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-info ">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav ">
        <a class="nav-item nav-link " id="home" href="/">Home</a>
        <div class="ml-5">
            <form class="form-inline ml-4" action="{{url_for('views.searchResult')}}">
                <input class="form-control" type="search" size="50" placeholder="Search Products"
                       aria-label="Search" name="q">
                <button class="btn btn-warning  ml-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link " id="signout" href="/logout">Signout</a>
        {% else %}
        <a class="nav-item nav-link" id="login" href="/login">Login</a>
        <a class="nav-item nav-link" id="register" href="/register">Register</a>
        {% endif %}
    </div>
</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse border-bottom border-dark" id="navbar">

        <div class="navbar-nav" style="display: flex; justify-content: space-between;">
            <a class="nav-item nav-link" id="electronics" href="/electronics" style="flex: 1; text-align: center;">
                <img src="static/img/electronic.png" alt="Electronics" style="max-width: 120px; height:70px;">
                <span style="margin-top: 5px;">Electronics</span>
            </a>


            <a class="nav-item nav-link" id="food" href="/food"
               style="flex: 1; text-align: center; margin-left: 200px;">
                <img src="static/img/food.jpeg" alt="Food" style="max-width: 100px; height:70px; margin-top:5px;">
                <span style="margin-top: 5px;">Grocery</span>
            </a>

            <a class="nav-item nav-link" id="shoes" href="/shoes" style="flex: 1; text-align: center; margin-left: 200px;">
                <img src="static/img/shoe.png" alt="Shoes" style="max-width: 120px; height:80px;">
                <span style="margin-top: 5px;">Shoes</span>
            </a>

            <a class="nav-item nav-link" id="clothing" href="/clothes" style="flex: 1; text-align: center; margin-left: 150px;">
                <img src="static/img/clothing.png" alt="Clothing" style="width: 120px; height:80px;">
                <span style="margin-top: 5px;">Clothing</span>
            </a>

            <a class="nav-item nav-link" id="mobile" href="/mobile"
               style="flex: 1; text-align: center; margin-left: 100px;">
                <img src="static/img/topoffer.png" alt="Food" style="width: 120px; height:80px; margin-top:5px;">
                <span style="margin-top: 5px;">Offers</span>
            </a>
        </div>
        <hr>

    </div>
</nav>





{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %} {% for category, message in messages %} {% if category ==
'error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
<div>{% block content %} {% endblock %}</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
</body>
</html>
