{% extends "base.html" %} {% block title %}HomePage{% endblock %} {% block
content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="/static/img/{{product.image1}}" width="400" height="400">

        </div>
        <div class="col-md-6">
            <h1>{{product.name}}</h1>
            <hr>
            {% if product.discount_percentage > 0 %}
            <h5 class="card-text ">
                Price: <i class="fa fa-euro"></i>{{ product.price - product.price * product.discount_percentage / 100 }}
                <span style="color: red;"><strike><i class="fa fa-euro"></i>{{ product.price }}</strike></span>
            </h5>
            {% else %}
            <h5><b>Product Price:</b> €{{product.price}}</h5>
            {% endif %}
            {% if product.discount|default(0)|int > 0 %}
            <h5><b>Product disount:</b> {{product.discount}} %</h5>
            {% endif %}
            <h5><b> Product Description </b></h5>
            <p>{{product.description}}</p>
            <form action="{{url_for('views.addToCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button class="btn btn-primary ml-4">Add to Cart</button>
                <label class="ml-2" for="quantity">Quantity: </label>
                <input type="number" name="quantity" value="1" min="1" max="{{product.stock}}">
            </form>
        </div>
    </div>

    <div class="rows">
        <div class="" id="s_image">
            <img src="/static/img/{{product.image1}}" class="p-3" width="120" height="120">
            <img src="/static/img/{{product.image2}}" class="p-3" width="120" height="120">
            <img src="/static/img/{{product.image3}}" class="p-3" width="120" height="120">
        </div>
    </div>

</div>

<script>
    var b_image =  document.getElementById('b_image');
    var s_images = document.getElementById('s_image').getElementsByTagName('img');

    for (var i = 0; i < s_images.length; i++) {
        s_images[i].addEventListener('click', full_image);
    }

    function full_image() {
        var imageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + imageSRC + " width='400' height='400'>";
    }



</script>


{% endblock %}