{% extends "base.html" %}

{% block title %}HomePage{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end align-items-center mb-3">
                <h4 class="mr-2">Sort by:</h4>
                <div class="btn-group" role="group">
                    <a href="{{ url_for('views.sort_by_price', page=products.page) }}" style="background-color:black;color:white;" class="btn btn-primary rounded">Price ({{ session['order']}})</a>
                    <a href="{{ url_for('views.sort_by_name', page=products.page) }}" style="background-color:black;color:white;"
                       class="btn btn-primary ml-2 rounded">Name ({{ session['name_order']}})</a>
                    <a href="/buyer" class="btn btn-danger ml-2 rounded">Reset</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in products.items %}
        <div class="col-md-3">
            <div class="card" style="height: 350px;">
                <img src="/static/img/{{product.image1}}" class="card-img-top" height="200">
                <div class="card-body">
                    {% if product.is_sponsored == "Yes" %}
                    <h6 class="card-title text-center"><b>{{ product.name }}</b><span class="badge">Sponsored</span></h6>
                    {% else %}
                    <h6 class="card-title text-center"><b>{{ product.name }}</b></h6>
                    {% endif %}
                    {% if discount_percentages.get(product.id, 0) > 0 %}
                <p class="card-text text-center">
                    Price: <i class="fa fa-euro"></i>{{ product.price - (product.price * discount_percentages.get(product.id) / 100) }}
                    <span style="color: red;"><strike><i class="fa fa-euro"></i>{{ product.price }}</strike></span>
                </p>
                {% else %}
                <p class="card-text text-center">Price: <i class="fa fa-euro"></i>{{ product.price }}</p>
                {% endif %}

                </div>

                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a href="{{ url_for('views.detailsPage', id=product.id) }}" class="btn btn-sm rounded"
                       style="background-color:black;color:white;">Details</a>

                    <form action="{{url_for('views.addToCart')}}" method="post" class="d-flex align-items-center">
                        <input type="hidden" name="product_id" value="{{product.id}}">

                        <div class="input-group">
                            <input type="number" name="quantity" value="1" min="1" max="{{product.stock}}"
                                   class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="submit">Add to Cart</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col text-center">
            {% if products.has_prev %}
            <a href="{{url_for('views.home_buyer',page = products.prev_num)}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
            {% endif %}
            {% for page_num in products.iter_pages() %}
            {% if page_num %}
            {% if products.page == page_num %}
            <a href="{{url_for('views.home_buyer',page = page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('views.home_buyer',page = page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <a href="{{url_for('views.home_buyer',page = products.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
