{% extends "base.html" %} {% block title %}HomePage{% endblock %} {% block
content %}

<br>
<h1>Hello, {{user.firstName}}</h1>
<hr color="black">

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Do you want to Add a new Product?</h5>
                <p class="card-text">Adding new products was never this easy.</p>
                <a href="/addProduct">Add Product</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Do you want to edit your products?</h5>
                <p class="card-text">Editing products was never this easy.</p>
                <a href="/editProduct">Edit Product</a>
            </div>
        </div>
    </div>
</div>

<hr color="black">

<h1> Your products</h1>


<div class="container">
    <table class="table table-sm">
        <thead>
        <th>SrNo.</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td><img src="static/img/{{product.image}}" class="card-img-top" width="40" height="50" alt="..."></td>
            <td><a href="{{url_for('views.editProduct', id=product.id)}}" class="btn btn-info btn-sm">Edit</a></td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{product.id}}">
                    Delete
                </button>
            </td>
        </tr>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> Are you sure you want to delete <strong>{{product.name}}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                        <form action="{{url_for('views.deleteProduct', id =product.id)}}" method="POST">
                             <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
