{% extends "base.html" %} {% block title %}HomePage{% endblock %} {% block
content %}


<h1 align="center">Available Products</h1>

<div>
    <h4>Sort by:</h4>
    <a href="/sort/price">Price</a> |
    <a href="/sort/name">Name</a>
</div>

<div>
    {% if products %}
    {% for product in products.items %}

    <div class="container py-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="/static/img/{{product.image1}}"
                                         class="w-100"/>
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask"
                                                 style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>{{product.name}}</h5>
                                <p>Discount:</p>
                                <p class="discount">{{product.discount}} %</p>
                                <p class="text-truncate mb-4 mb-md-0">
                                    {{product.description}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">€{{product.price}}</h4>
                                    <span class="text-danger"><s></s></span>
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                <div class="d-flex flex-column mt-4">
                                    <button class="btn btn-primary btn-sm" type="button">Details</button>
                                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                                        Add to wishlist
                                    </button>
                                    <form action="{{url_for('views.addToCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button class="btn btn-outline-primary btn-sm mt-2">Add to Cart</button>
                </br>
                                        <label for="quantity">Quantity: </label>
                <input type="number" name="quantity" value="1" min="1" max="{{product.stock}}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}
</div>
<div>
    {% if products %}
    <div class="row">
        {% for product in products.items %}
        <div class="card needspace" style="width: 30rem;">
            <img src="/static/img/{{product.image1}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.category}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{product.description}}</li>
                <li class="list-group-item">Price Range: {{product.price}}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        {% for product in products.items %}
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/{{product.image1}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text=center">Price: €{{product.price}}</p>
                    <div class="card-footer">
                        <a href="{{url_for('views.detailsPage', id =product.id)}}" class="float=left btn btn-sm btn-primary "> Details</a>
                        <a href="#" class="float=right btn btn-sm btn-warning "> Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col text-center">
                {% if products.has_prev %}
                 <a href="{url_for('views.home_buyer', page= products.prev_num}}" class="btn btn-outline-info btn-sm mt-3">Previous</a>
                {% endif %}
                 {% for page_num in products.iter_pages() %}
                {% if page_num%}
                {% if products.page == page_num %}
                 <a href="{{url_for('views.home_buyer', page= page_num)}}" class="btn btn-info btn-sm mt-3">{{page_num}}</a>
                {% else %}
                     <a href="{{url_for('views.home_buyer', page= page_num)}}" class="btn btn-outline-info btn-sm mt-3">{{page_num}}</a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                 {% endfor %}
                {% if products.has_next %}
                 <a href="{{url_for('views.home_buyer', page= products.next_num)}}" class="btn btn-outline-info btn-sm mt-3">Next</a>
                {% endif %}
            </div>
        </div>

    </div>
</div>


{% endblock %}
