{% extends "base.html" %}

{% block title %}HomePage{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end align-items-center mb-3">
                <h4 class="mr-2">Sort by:</h4>
                <div class="btn-group" role="group">
                    <a href="/sort/price" class="btn btn-primary">Price</a>
                    <a href="/sort/name" class="btn btn-primary ml-2">Name</a>
                    <a href="/buyer" class="btn btn-danger ml-2">Reset</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card">
                <img src="/static/img/{{product.image1}}" class="card-img-top" height="200">
                <div class="card-body">
    <h5 class="card-title text-center">{{ product.name }}</h5>
    {% if product.discount|default(0)|int > 0 %}
        <p class="card-text text-center">
            Price: <i class="fa fa-euro"></i>{{ product.price - product.price * product.discount / 100 }}
            <span style="color: red;"><strike><i class="fa fa-euro"></i>{{ product.price }}</strike></span>
        </p>
    {% else %}
        <p class="card-text text-center">Price: <i class="fa fa-euro"></i>{{ product.price }}</p>
    {% endif %}
</div>
Ò
                <div class="card-footer">
                    <a href="{{url_for('views.detailsPage', id=product.id)}}" class="btn btn-primary btn-sm">Details</a>
                    <a href="#" class="btn btn-warning btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
