{% extends "base.html" %} {% block title %}HomePage{% endblock %} {% block
content %}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/img/dog.jpg" class="d-block w-100" alt="Dog Food">
            <div class="carousel-caption">
                <h5 id="seventy_p1">Dog Food</h5>
                <p class="summer_s">High-quality food for dogs</p>
                <a id="shop_now" href="/buyer" type="submit" name="shop now">Shop now
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>

            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/img/parrot.jpeg" class="d-block w-100" alt="Cat Food">
            <div class="carousel-caption">
                <h5 id="seventy_p2">Bird Food</h5>
                <p class="summer_s">Nutritious food for Birds</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/img/dog2.jpeg" class="d-block w-100" alt="Cat Food">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="section4-header">

    <span class="title centered-text">DISCOUNT CORNER</span>
    <a href="/buyer" class="btn1 viewmore">View More</a>
    <button class="next" onclick='scrollright4()'><i class="fa fa-angle-right"></i></button>
    <button class="previous" onclick='scrollleft4()'><i class="fa fa-angle-left"></i></button>
</div>
{% for product in products %}
<section class="section4" id="section4">
    <div class="discount-card">
        <img src="/static/img/{{product.image1}}" alt="Product">
        <a href="#" class="like-button"><i class="fa fa-heart-o"></i></a>
        <span class="title">{{product.name}}</span>
        <span class="rating">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
(930)
</span>
        <span class="btn2">Fast Sold</span>
    </div>

       <div class="discount-card">
        <img src="/static/img/{{product.image1}}" alt="Product">
        <a href="#" class="like-button"><i class="fa fa-heart-o"></i></a>
        <span class="title">{{product.name}}</span>
        <span class="rating">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
(1,030)
</span>
        <span class="btn1"><i class="fa fa-rupee"></i>{{product.price - product.price*product.discount/100}}</span> <strike><i class="fa fa-rupee"></i>{{product.price}}</strike>
    </div>


</section>
{% endfor %}

<!--<div class="bg-imagee">
    <p class="summer_s">Your Go To</p>
    <h1 id="seventy_p">SHOP</h1>
    <p class="promo_c">every day, every season</p>
    <a id="shop_now" href="/buyer" type="submit" name="shop now">Shop now
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
    </a>
</div>-->
{% endblock %}